@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap') ;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.allTable {
  background-color: #282c34;
  color: aliceblue;
  margin: 20px;
  padding: 20px;
}

.topTable {
  background-color: rebeccapurple;
  font-size: large;
  height: 50px;
  text-align: center;
}

.responseTable {
  text-align: center;
}

.headerInputs {
  display: flex;
  justify-content: space-evenly;
}

.inputFilters {
  margin-left: 10px;
}

.project {
  background-color: rebeccapurple;
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  font-family: ' Supermercado One' , cursive;
  justify-content: space-evenly;
  margin: 5px 420px;
  margin-bottom: 30px;
  padding: 20px;
}

.btnFilter {
  background-color: rgb(42, 180, 42);
  border-radius: 5px;
  color: aliceblue;
  font-family: fantasy;
}
